@model ActorViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Actor</h1>


<br />
<br />
<form asp-action="Delete">
    <div class="row">
        <div class="col-md-8 offset-2">
            <br/>
            <div asp-validation-summary="All" class="text-danger"></div>

            <Partial name="PartialViews/_DetailsDeletePartialView">

                <div class="form-group">
                    <input type="submit" value="Delete" class="btn btn-danger"/>
                    <a asp-action="Index" class="btn btn-outline-secondary ">Cancel</a>
                </div>
        </div>

    </div>
</form>
@section ValidationScriptSection{
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $("#ProfilePictureURL").val();
        })
    </script>
    }
