@model MovieViewModel
@{
    ViewData["Title"] = "Edit Movie";
}

<h1>Edit Movie</h1>

<form asp-action="Edit" enctype="multipart/form-data">
    <div class="row" >
        <div class="col-md-8 offset-2">
            <div asp-validation-summary="All" class="text-danger"></div>
            <Partial name="PartialViews/_CreateEditPartialView">

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-outline-success float-right" />
                    <a asp-action="Index" class="btn btn-outline-secondary ">Show All</a>
                </div>
        </div>

    </div>
</form>
@section ValidationScriptSection{
    <partial name="_ValidationScriptsPartial" />

    }


