
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>Check Your Inbox</h1>
<div class="main-agileinfo">
    <div class="agileits-top">
        <div class="body">
            <div>
                Password Reset Has Sent To YOur Email.Check Your Inbox :)
                <a href="https://www.bing.com/ck/a?!&&p=0f6a1f4fd1d57156JmltdHM9MTcwOTUxMDQwMCZpZ3VpZD0yNGI4MWVkYy01NzdlLTY5ZWItMmRhYy0wY2Q3NTYwMjY4NWMmaW5zaWQ9NTIwMA&ptn=3&ver=2&hsh=3&fclid=24b81edc-577e-69eb-2dac-0cd75602685c&psq=gameil&u=a1aHR0cHM6Ly9tYWlsLmdvb2dsZS5jb20vbWFpbD9obD1hcg&ntb=1">Your Inbox</a>
            </div>
        </div>
    </div>
</div>
@section ValidationScriptSection{
    <partial name="_ValidationScriptsPartial" />
}


